pandas
numpy 
seaborn
matplotlib
ipykernel
openpyxl
langchain_core
langchain_community
streamlit
python-dotenv
bs4
pypdf
langserve
fastapi
uvicorn
arxiv
wikipedia
openai
faiss-cpu
langchain-openai
sqlalchemy 
langchain
cachetools
tenacity
sentence_transformers